@charset "UTF-8";
	#wraper{
		margin-left:200px;
		margin-right:200px;
	}
	.cn_header{
		height:100%;
		margin-top:30px;
	}
	#cn_119{
		width:50%;
	}
	.cn_logo{
		height:100px;
		background:rgb(240 325 68);
		border-radius: 30px;
	}
	.cn_logo_img{
		width:80%;
	}
	#cn_top_first{
		float:left;
		margin-left:30px;
	}
	#cn_top_secound{
		    float: right;
		    margin-top: 15px;
		    margin-right: 75px;
		    border-radius: 20px;
		    background: white;
		    font-size: 1.2em;
		    text-align: center;
	}
	.cn_table{
		border:1px solid;
	}
	.side-right{
		float:right;
	}
	.cn_login_info td{
		width:35%;
		font
	}
	.cn_taps{
		border:1px solid;
	}
	#map {
        height: 400px;  /* The height is 400 pixels */
        width: 50%;  /* The width is the width of the web page */
        left:50%;
        padding-bottom:44%;
    }